[2016-03-04 07:43] runspired opened #16 "[FEAT] sustain-id: allow more than one instance of a component, based on unique id"
1.1 target

[2016-03-04 07:44] runspired opened #17 "[PERF] sustain: implement an HTMLBars keyword instead of using a component."
target 1.1

[2016-03-04 07:45] runspired commented on #17
Reading: https://github.com/tildeio/htmlbars/blob/master/LIFECYCLE.md

[2016-03-12 07:43] runspired commented on #17
Addressed by #22

[2016-03-12 07:43] #17 closed

[2016-03-14 08:47] ssured opened #23 "Split in various libraries"
Hi,

Thanks for making this awesome software open source. I really love parts of it, but incorporating all seems too much. For example, the column css system (ported from Bootstrap?) conflicts with my choice of Curb Foundation for Apps.

Would it be an idea to split your concepts into different add ons? Like giving the sustain helper an own repo, the component-layout addon a separate home and make

[2016-03-14 15:46] runspired commented on #23
Hi,

The idea is that flexi is the foundation of an explicit layout API, the specifics of your layout CSS and whether you use it's defaults shouldn't matter.  Right now, there are ways to configure this to fit into your CSS framework / grid framework of choice.  With time, this configuration story is only going to get better, easier, and more documented.

At the moment you can turn off all or part

[2016-03-14 15:47] runspired commented on #23
You can also read the motivations behind creating Flexi to be what it is here: http://blog.isleofcode.com/modern-responsive-design/

[2016-03-14 15:50] runspired commented on #23
I'll be leaving this issue open for discussion, but given the easy nature of configuration, and the method by which this library works, each of the scenarios you detailed above is already possible.

[2016-03-14 20:42] ssured commented on #23
Thanks for your extensive answer. I'll dive in deeper as this library does address quite some annoyances I am having with my current responsive web app.

[2016-03-16 23:21] #16 closed

[2016-03-28 18:16] ksnyde opened #37 "Parsing of breakpoints"
Just trying out flexi and it was working but then I added ember-cli-sass and it appears that has broken it. For instance:

SASS:

[code]

Get's converted to:

[code]

Furthermore, if I add an explicit class definition things get worse:

SASS:

[code]

Is converted to:

[code]

[2016-03-28 18:29] ksnyde commented on #37
Strange, i've tried to reverse this by removing both `ember-cli-autoprefixer` and `ember-cli-sass` but it's still working as stated above (it did work initially).

[2016-03-28 18:39] ksnyde commented on #37
yeah it seems I mis-identified the cause of the problem but it is a problem. It translates `xs=3` appropriately to `.col-xs-3` but multiple items are not parsed correctly. Should be pretty easy to reproduce.

[2016-03-30 18:18] ksnyde commented on #37
Really like the library and having used it for a few more days I looked back on this issue and realized that it was making a rookie syntax error. I'm closing this as a result.

[2016-03-31 04:59] runspired commented on #37
@ksnyde if it's something I can throw a better error for, I'd like to. Could you show me the syntax you were mistakenly using?

[2016-03-31 16:25] ksnyde opened #39 "Clarity in install documentation"
In the installation section of the documentation you state:

Does this mean that traditional apps (aka., non-pod) should also include `pod-templates-shim`?

[2016-03-31 16:26] ksnyde commented on #39
If yes, then I think it would make sense to rename it to remove cognitive friction but I guess an explicit note in the documentation would help too.

[2016-03-31 16:28] ksnyde commented on #37
Ok, I had a dream about this comment. Odd but I won't complain about sleep productivity hacks. Re-opening and changing title to make it more suitable for where this thread has gone. Will summarize in the next post.

[2016-03-31 16:38] ksnyde commented on #37
Ok, so initially when I closed this I did this because I had been a mis-lead a bit by the documentation.  Specifically I saw this:

![image](https://cloud.githubusercontent.com/assets/980757/14183112/6552909a-f766-11e5-8766-42b2e4ec7635.png)

So in my initial spike I literally typed this in and this does run into the parsing issues which I mentioned at the top of this issue. So arguably it is a re

[2016-03-31 16:41] runspired commented on #37
This definitely sounds like a bug, but should be caught by test coverage (and I've been using this syntax).  The documentation is correct that this is possible.  What version of Ember are you on?

[2016-03-31 16:48] runspired commented on #37
@ksnyde wait, are you using curly syntax? `{{box` ? It should be angle bracket.

[2016-03-31 16:50] ksnyde opened #40 "More description needed in blueprints"
I don't mind succinct documentation but I can't find my way out of the box here:

what does `/path/to/<name>` refer to? I assumed it meant the route, component, etc. but when trying this it complained saying that the only valid names were the breakpoints. That's forcing me to think about things differently than I expected.

Are the templates only for the full page? I would have thought you could h

[2016-03-31 17:31] runspired commented on #37
Added a new integration test, confirmed a bug, added a debug mode for better debugging the attribute conversion, and got most a fix in place, will send out a patch later today.

[2016-03-31 18:32] runspired commented on #39
Correct, this shim is only needed for pod templates.

[2016-03-31 18:37] runspired commented on #40
Templates do work for components or routes, but the generators that are specific to `component` or `route` are unfinished (see #12 ).

This `ember g layout` works with either routes or components, the `path/to` part should be the path to the component or route including the name of the component or route, while `/name should be the name of a breakpoint.  You can also convert existing templates to

[2016-03-31 18:43] runspired commented on #37
Fixed by 9d39e88 and releases as version 1.1.4

[2016-04-01 07:07] ksnyde commented on #40
Thanks Chris.

[2016-04-01 09:06] ksnyde commented on #37
Great. Will give this a try today. Thanks. Oh, btw, I am using angle brackets, my example was wrong, habits die slow. :)

[2016-04-01 09:12] ksnyde commented on #39
Ahhh. Ok then just a documentation update I guess. How are you building your documentation system? I'm happy to send a PR in for some of the documentation changes if that's helpful (also happy to just raise issues). Up to you.

[2016-04-01 09:17] ksnyde opened #42 "Orientation and layouts"
This isn't really an "issue" but more request for your views and/or place for discussion on views regarding how "orientation" might participate in layouts.

[2016-04-01 09:28] ksnyde commented on #42
My initial thought was it would be nice to have the "breakpoints" be the primary model, and "orientation" be considered secondary. My thinking being that "overall real-estate" (aka, breakpoint) is a primary concern and causes design restructuring. However orientation, when it is being design for, is typically even more divergent in design (often not just reflowing but different content). In most c

[2016-04-01 12:05] ksnyde commented on #42
Ok, I noticed in the README documentation (but not the "doc site") there is reference to orientation. What I don't like about the current implementation is that it treats orientation and device as independent variables which is probably not the way you want to design things (first reaction).

Maybe if the tiered format were used, the breakpoints could be compared to the larger dimension rather tha

[2016-04-01 18:08] onceatime opened #44 "option for max height of parent"
if possible can you add a attribute like "fill parent"? this way its possible to create layouts with fixed header and scrollable columns, right now i haven't found a way to realize such a scenario.

for example:
![screenshot 2016-04-01 19 44 25](https://cloud.githubusercontent.com/assets/7657474/14215781/62ad0d40-f845-11e5-8277-e6944e93b21e.png)

[2016-04-01 20:03] runspired commented on #44
What you want is possible, I'll create a demo later.

[2016-04-01 20:11] runspired commented on #42
Currently, width is considered the primary driver of layout, and orientation secondary.

Some of the problems with using `orientation` for additional layout options are:

1. Orientation is purely derivative of the aspect ratio, there unfortunately are not device APIs which we can rely on to reliably give us the true orientation.

2. Breakpoint names are purely derivative of the width, and not nece

[2016-04-01 20:12] ksnyde opened #45 "Discussion: manipulating flex-basis/height/width on container"
Stemming from this slack conversation:

It was decided further discussion was appropriate. The discussion revolves around the ability to exercise precise height or width on a flex item within a horizontal or vertical flexbox group. The "flex" version of this would be to use the `flex-basis` property but Chris has pointed out that Safari has a bug when using "%" values (in my tests though fixed px/

[2016-04-01 20:13] runspired commented on #39
All of the documentation is here, it's an ember-app running within this repo:

https://github.com/runspired/flexi/tree/develop/tests/dummy/app/routes/docs

[2016-04-01 20:14] onceatime commented on #44
oh ok many thx, then i have misunderstood something ;-) sorry

[2016-04-01 20:14] ksnyde commented on #45
The ideal would be to have a compact syntax to effect this more precise control over height / width (depending on direction of the flex container). Something like the following would make sense to me:

    <container fit basis="2 em"></container>

[2016-04-01 20:21] ksnyde commented on #45
I think the API should use "basis" as it is the "official" flexbox nomenclature but if it turns out that some combination of height/width (and the min/max variants) is better supported than flexi could transform this to these instead of `flex-basis` (at least until the browsers get their act together). In either case, though it will require a "build-time" transform to an inline style (classes won'

[2016-04-01 20:25] runspired opened #46 "Feat: scroll primitives"
I'm thinking about adding an API for scrollable boxes.  This is a first pass idea of one way this might be done.

Properties
- scrollX
- scrollY
- scrollXY
- scrollNone

Breakpoint Attributes
- xs="scrollX"
- sm="noScrollX"

I'm also investigating whether an element approach might be more ideal.

[code]

The element approach would lend itself well to situations in which custom scroll solutions are

[2016-04-01 21:50] ksnyde commented on #42
Yes but I would propose that that is actually is more meaningful than "true orientation". In photography and other domains that use this nomenclature "portrait" and "landscape" is just shorthand for whether width or height is greater length. This is also the key characteristic that you'd want to design to.

Yes I think feature detection and user-agent sniffing, etc. is a measure of last resort and

[2016-04-01 22:05] runspired commented on #42
You just caused so many thoughts to enter my mind.  I'm going to think this over.  I'll be going on vacation for a while starting early next week, I'll ponder this while away.

[2016-04-01 23:20] ksnyde commented on #42
Well have a great break. Try to think non-ember thoughts on your time off. :)

I have an addon called `ui-responsive` and I figured I'd demonstrate what I'm talking about using it. That's now done, have a look when you have time:

I need some z's. Talk to you later.

[2016-04-02 01:08] GCheung55 opened #47 "Cannot find module 'debug'"
I just updated to flexi@1.1.4 and am getting this error with `ember serve`.

I believe it's because debug is in `devDependencies` instead of `dependencies`.

[2016-04-02 01:51] onceatime commented on #47
[code]
should fix this

[2016-04-03 09:28] ksnyde commented on #47
@GCheung55 did you run into this when working on an addon? I don't get this when installing in an app but do when I trying this in an addon (where I'm just wanting to add flexi as the layout engine for the demo app).

[2016-04-03 10:36] greyhwndz commented on #47
I just created a new ember app 3 times in a row just to make sure it wasn't something else.
Then I installed flexi thru `ember install flexi` and seems like a bug like the one above I am encountering everytime:
[code]

[2016-04-03 12:20] greyhwndz commented on #42
Looks like this could be a good basis of implementing orientation-related logic. Makes sense and I think devices in general should leverage on this. There ain't no "landscape" orientation where the height is larger than width :)

On the other hand, since flexi base its magic from detecting the width and height of the 'container' element may have a bearing on how this will further be implemented. T

[2016-04-03 17:15] #47 closed

[2016-04-03 17:21] greyhwndz opened #49 "Problem with components using `sustain`"
I have a new ember app with the following versions:
Ember      : 2.4.3
Ember Data : 2.4.3+a3e2521f85
jQuery     : 2.2.2

_addons:_
**ember-cli-mirage**
**flexi v1.1.4**

I have followed the example in:
https://github.com/runspired/flexi#example-layout

I am having the following error:
[code]

What follows is my code:

**ember-cli-build.js**
[code]

**app/router.js**
[code]

**app/routes/emails/rou

[2016-04-04 10:22] greyhwndz commented on #49
Turns out that the podified component needs to be updated to be in the correct podified format i.e.:
`app/routes/emails/components/email-list/template.hbs` &
`app/routes/emails/components/email-list/component.js` instead of just
`app/routes/emails/components/email-list.hbs`

created a PR for this

[2016-04-04 15:32] runspired commented on #49
Resolved by #50

[2016-04-04 15:32] #49 closed

[2016-04-24 14:23] maxkwallace opened #52 "Error: Import directives may not be used within control directives or mixins."
There's been some discussion on https://embercommunity.slack.com/messages/e-flexi/ but I thought it was worth opening an issue here, in case anyone looks here first.

As https://embercommunity.slack.com/messages/e-flexi/team/mellatone/ points out:

[code]

The issue appears to be coming from

[code]

in `flexi/addon/styles/addon.scss`.

[2016-04-24 15:05] maxkwallace commented on #52
I commented out the `@if ($include-css) {` above, and one other `@if ...` in Flexi, and pushed that to: https://github.com/shearwater-intl/flexi

The issue above appears to be fixed for me once I point my Flexi dependence to that repo:

[code]

[2016-04-25 04:36] max commented on #52
You can also downgrade `"node-sass": "3.4.1"`.

[2016-04-27 11:32] ksnyde commented on #37
I'm going to reopen this because as I found out today, ordering matters in an unexpected way. Specifically:

    <hbox xs="hidden" lg="2 visible">

The above works fine.

    <hbox xs="hidden" lg="visible 2">

This crashes broccoli with the following error:

[2016-04-27 11:32] ksnyde commented on #37
Hmmm. Guess I can't reopen this.

[2016-04-27 12:19] runspired commented on #37
I think this is fixed on latest but it's also got a different bug. Was supposed to be 1.2 prerelease but ended up getting tagged as a patch.  Will push new patch this morning.

[2016-04-27 13:01] runspired commented on #37
This may be fixed with 1.1.7 but I have not been able to put a test together for it yet.

[2016-04-27 13:11] ksnyde opened #54 "fit/fill pre-processors not working"
I didn't isolate this very well but ...

I was working on:

I then upgraded `ember-cli` to `2.6.0-beta.1` and during this process I restarted the `ember serve`. I would have thought I'd have done that when I upgraded to flexi 1.1.6 too but I can't remember.

While the grid-sizing _does_ still get processed the fit/fill's no longer do. I can also add in manually the `flexi-fill` classes but that's

[2016-04-27 13:19] ksnyde commented on #54
I have rolled back `ember-cli` to 2.5.0 and then back to 2.4.3. This range doesn't have a large amount of dependency changes ... in fact the only one I can remember is `ember-ajax` which would be odd if it interfered.

I'm at a loss.

[2016-04-27 13:23] ksnyde commented on #54
Unfortunately `1.1.7` does not fix this issue for me. :(

[2016-04-27 14:29] ksnyde commented on #54
`1.1.7` didn't help. I feel maybe there is some other variable at play here but I'm afraid I can't shed any light on it. Any thoughts?

[2016-04-27 14:39] ksnyde commented on #54
Ok, this is _very_ odd. I just noticed a new wrinkle. There were a number of places where I was putting `class="flexi-fill"` or `class="flexi-fit"` as the case may be and I started noticing that in many cases the post-processed HTML had duplicate entries. I tried removing these entries and low-and-behold the `fit` and `flex` properties were being translated.

In some cases but not all.

I found th

[2016-04-27 14:47] ksnyde commented on #54
Ok, i had a sneaking suspicion that this might work ... I removed the white space mentioned above (on the troublesome `box`) but added a carriage return after the boxes markup and that too seemed to parse correctly.

Here's what it looks like now:

![2016-04-27_15-44-32](https://cloud.githubusercontent.com/assets/980757/14856237/3a8ba4c6-0c8f-11e6-9ffb-a7b8187c7e49.png)

The highlighted rectangle

[2016-05-12 19:29] tgandee79 opened #56 "Declaring `false` as a value in the config will trigger the default value to be used"
The config documentation should either include a statement about using quotes to declare false values or the `lib/scss-variables-compiler` should account for `false` as a value

flexi/lib/scss-variables-compiler.js
[code]

The config currently has to use quotes to declare a `"false"` value for a config setting.

config/flexi.js
[code]

[2016-05-13 20:04] runspired commented on #56
#facepalm Thanks for pointing this out :)

[2016-05-13 20:04] runspired commented on #54
@ksnyde did you get any deeper into this?

[2016-05-13 20:06] runspired opened #57 "Flexi Elements cannot contain dynamic class names."
While it's currently an intentional limitation that layout attribute usage cannot by dynamic, the same is not true for class names.

This should be possible but isn't.

[code]

[2016-05-16 06:32] ksnyde commented on #54
@runspired I haven't got any more data points really ... in the cases where I ran into it I was able to work around it by adding the ending space and I think i've reflexively started to add this space without thinking about it so that might in part explain why I haven't run into it recently (although part of it is also me focusing a on a few addons where I'm not using flexi ... btw, how's the addo

[2016-05-17 13:30] tgandee79 commented on #56
I might be able to tackle this in a week or two.  I'm trying to dive deeper into this codebase.

[2016-05-19 16:17] runspired commented on #52
Fixed in more recent releases.

[2016-05-19 16:17] #52 closed

[2016-05-19 17:06] runspired commented on #45
@ksnyde I've mulled this over for a while, and I really love the idea of converting `basis` to the correct unit based on whether the layout is horizontal or vertical.  It gets tricky because `basis` is able to change and is set by a parent element :/

It gets tricker because much of what you'd want here probably needs to change dynamically at runtime.

Consider this simple potential API which woul

[2016-05-20 09:20] ksnyde commented on #45
Imagine if life were actually as simple as you first imagined it. We'd be productive but it sure would be dull. 😆

[2016-05-20 09:27] ksnyde commented on #45
My hunch is that "non-percentage" use of `flex-basis` outways percentage usage. That would push me toward the value being high and the compromise being fair. My hunch is quite unscientific of course but a well stated/documented limitation is still a feature that folks didn't have before.

[2016-05-20 09:36] ksnyde commented on #45
Also flexi does provide -- in effect -- percentage `flex-basis`'s for "common percentages" (aka, divisors of 12 or whatever your responsive grid is setup by).

    <box xs="4 horizontal" sm="4 vertical" fit>

This is effectively a fixed width/height of 25%:

    flex-direction: <responsive>;
    flex: 0 0 25%;

No I can't have a fixed width of a non-standard % but considering how much complicated

[2016-05-21 06:58] bgentry opened #58 "Fastboot?"
First, thanks for the great project! 👍

My question is whether you have given any thought to how Flexi might work with Fastboot. My understanding is that it would have to render the DOM based only on the info from the browser's request, and that Flexi would have to select a specific breakpoint to render. I guess Flexi could attempt to do that based on the user agent.

Is that the best that could b

[2016-05-22 23:29] bgentry opened #59 "sustain assumes component input will be named "model""
I was invoking a component like so:

[code]

That component was expecting the first argument to be called `tasks` and was using [`positionalParams`](https://guides.emberjs.com/v2.5.0/components/passing-properties-to-a-component/#toc_positional-params) so it could be provided as either the first argument or as `tasks=model`.

When I converted this component invocation to use `sustain`, I did this:

[2016-05-22 23:52] runspired commented on #58
Fastboot is supported, all you need is an initialized specific to fastboot that looks up the service and sets the desired device width

[2016-05-23 00:15] bgentry opened #60 "acceptance tests using Flexi take > 5 seconds"
After switching some of my app to Flexi, I noticed that some acceptance tests were stalling for 5 seconds. The same thing also happens when running Flexi's own acceptance tests:

<img width="1407" alt="screen shot 2016-05-22 at 5 12 43 pm" src="https://cloud.githubusercontent.com/assets/114033/15457568/8c260c6c-2040-11e6-846b-d728c439e432.png">

It looks like this is caused by the [`DEFAULT_EXPIRE

[2016-05-23 18:18] bgentry opened #61 "develop and master branches are out-of-sync"
This repo is set up to use `develop` as the default branch. However, there is also a `master` branch which contains commits for newer releases that are no in the `develop` branch.

[2016-05-23 18:25] sheriffderek commented on #59
Can't you `{{sustain "task-list" model=somethingElse}}` ?

[2016-05-23 18:31] bgentry commented on #59
@sheriffderek yes, but then my component needs to be altered to expect an input named `model` rather than `tasks`. IMO I should be able to invoke any component in exactly the same way whether it's used with `sustain` or not, and have it continue to work. But that's not the case today.

I'm making an attempt right now at a PR to solve this, we'll see how it goes :)

[2016-05-23 19:11] sheriffderek commented on #59
@bgentry - Yes. Totally agree with that. I thought there might be an oversight.

[2016-05-24 00:41] bgentry commented on #59
well this turned out to be quite a bit more complicated than I'd hoped for 😞. It looks like none of the logic that powers the `component` helper is reusable outside of Ember itself. I'll need somebody more knowledgeable than me to weigh in on whether I was correct about that being the right approach and how to go about implementing it.

To restate, what I want is for components that are invoked wi

[2016-05-24 05:31] jasonmit commented on #59
Not knowing much about sustain (our project hasn't yet used it) but perhaps an API like the following would avoid naming conventions to avoid collisions:

[code]

[2016-05-29 15:18] runspired commented on #59
CC @machty

I am interested in exploring this, but you are correct @bgentry that the `component` helper is absolutely not reusable outside of Ember atm.

We'd need to implement a custom keyword and largely reimplement the component helper.  My initial implementation of the sustain went down that path, and I realized I was entering into the waters of "often breaking private APIs".  There will be mo

[2016-05-29 17:30] machty commented on #59
I'm still not following how/why the "component helper is absolutely not reusable outside of Ember atm."

Perhaps that's correct if you're trying to implement `sustain` the same way the top-level `{{component}}` is implemented (so that you could write `{{sustain componentName foo=bar wat=lol}}`, but what's the blocker on making `sustain` accept the value returned by the subexpression form of `(comp

[2016-05-29 17:31] runspired commented on #59
@machty was only referring to the former not the latter situation.

[2016-05-29 19:21] machty commented on #59
Ah, well @bgentry I dunno if you're still interested but wanna take a stab at the `{{sustain (component ...)}}` approach?

[2016-05-29 20:44] bgentry commented on #59
Happy to give it a try. Can you maybe elaborate on what that implementation
would look like?

My understanding is that there would be a `sustain` helper which would take
two required inputs. One would be the repeated name of the component (or
label) and the other would be the output of the component helper. AFAIK the
component name/label would have to be duplicated because the sustain helper
would

[2016-05-29 20:47] machty commented on #59
@bgentry without digging super deep into it, this is what I saw when I placed a debugger in an action that was passed a reference to the value returned from `(component 'exc-app-header-button-x')`:

![image](https://cloud.githubusercontent.com/assets/81818/15635939/f1941b30-25bc-11e6-865d-1e8c25f5f20f.png)

I don't know how far you can take it before hitting a wall but it seems like you should be

[2016-06-01 02:39] bgentry commented on #59
@machty I played around with this a bit. Using some pretty hacky methods to extract info from the closure component object shown in your screenshot. What I have in [this branch](https://github.com/runspired/flexi/compare/master...bgentry:sustain-arbitrary-input?expand=1) sort of works for simple inputs to the component, but not for more complicated inputs like the route `model`.

Those inputs are

[2016-06-01 16:11] snewcomer opened #64 "Calling set on destroyed object"
Global error: Error: Assertion Failed: calling set on destroyed object: <bsrs-ember@service:device/layout::ember56061>.width = 610`

`Global error: Error: Assertion Failed: calling set on destroyed object: <bsrs-ember@service:device/layout::ember56061>.width = 610``

I know I don't have too much context for this error, but this happens when I either resize the browser when testem runner is going o

[2016-06-02 02:45] snewcomer commented on #64
sry err above might have been tangentially related to another error I fixed.  Closing for now!

[2016-06-02 02:45] #64 closed

[2016-06-07 08:26] GCheung55 opened #65 "Document Ability to Configure Generated Column Syntax"
Foundation 6's column syntax:

.small-1.columns
.medium-1.columns
.large-1.columns
.[custom]-1.columns

Flexi currently follows Bootstrap column syntax.

[2016-06-10 19:29] runspired commented on #65
@GCheung55 this is actually already supported, but the API is not documented.

[2016-06-10 19:33] runspired commented on #65
https://github.com/runspired/flexi/blob/develop/dsl/attribute-conversion.js#L70-L79

and

https://github.com/runspired/flexi/blob/develop/dsl/dsl-defaults.js

Are the relevant areas to look.

[2016-06-13 22:53] GCheung55 opened #66 "addAddonsToPackage throwing error of needing config"
I'm installing 'flexi' via another addon. Looks like the config isn't copied over when installed via addon `addAddonsToPackage` or `addAddonToPackage` methods.

The error:

`You must define a config file for flexi at '/Users/gcheung/dev/fitbit/fitbit-ember-proto/config/flexi.js'`

[2016-06-13 22:58] GCheung55 commented on #66
Stacktrace:

[code]

[2016-06-13 22:59] GCheung55 commented on #66
Stacktrace:

[code]

[2016-06-13 23:10] GCheung55 commented on #66
What triggers `Project.initializeAddons` is https://github.com/ember-cli/ember-cli/blob/master/lib/tasks/addon-install.js#L42

[2016-06-15 16:39] #66 closed

[2016-06-15 16:43] runspired commented on #60
@bgentry I'll add an `is-in-test` test to the default value for expires and set it to something more reasonable for tests.

[2016-06-17 22:58] alexlafroscia commented on #57
I'm guessing that this is part of the same problem, but I discovered today that Flexi elements don't play too nicely with [`ember-css-modules`](https://github.com/salsify/ember-css-modules).

Something like this

[code]

Adds only the CSS module class to the element; anything from Flexi is thrown away.

[2016-06-17 23:04] runspired commented on #57
The interesting this is that there are cases in which dynamic classes are working for me.  Seems to be a function of the order of the props.  Need to nail down when this goes wrong and see what I can do.

[2016-06-21 07:18] thoov opened #68 "Support for 0 as an attribute value"
We have a need to create a "gutter" system. Currently we are doing it like so:

[code]

This gives us a 1-10-1 layout for desktop/tablet and a 0-12-0 (full width) for mobile. However it would be simpler if we could just do this:

[code]

But this produces a build error as the [attribute cannot be 0](https://github.com/runspired/flexi/blob/develop/dsl/attribute-conversion.js#L9). Is there any parti

[2016-06-21 14:14] runspired commented on #68
@thoov "theoretically" you could do this instead

[code]

I say theoretically because if you are using flexi's default generated styles there appears to be an issue with how the offset classes are generated at the moment which I need to look into.

[2016-06-21 14:14] runspired commented on #68
As for the comment on validity, `xs="hidden"` would be more correct, and perhaps I could alias `0` to hidden.

[2016-06-22 21:49] thoov commented on #68
@runspired Thanks for the response.

I didn't realize there was `offset` which is exactly what we need. The more that I think about the 0 attribute I don't actually think it is necessary.  You could simply not include the attribute which should do the same thing.

[2016-06-24 23:43] GCheung55 opened #69 "Support responsive gutters."
Foundation 6 by default has a [gutter configuration for specific breakpoints](http://foundation.zurb.com/sites/docs/grid.html#gutters).

[2016-06-29 22:39] mk-conn opened #71 "Dependencies are not installed"
When I fire `ember install flexi`not all dependencies are installed. For instance liquired-fire is missing or jscs.... does this only happen to me?

[2016-06-30 20:44] onceatime commented on #44
any news?

[2016-06-30 21:44] #56 closed

[2016-07-01 22:00] mk-conn commented on #44
+1 Would also be interested in a demo :)

[2016-07-04 23:08] GCheung55 commented on #71
You don't need `liquid-fire` and `jscs` in order to use `flexi`.

[2016-07-07 12:46] mk-conn commented on #71
maybe the docs should be overworked with examples without using liquired-fire?

[2016-07-22 21:00] #71 closed

[2016-07-23 03:16] runspired commented on #69
👍  I approve of tis feature, PR welcome

[2016-07-23 03:18] runspired commented on #54
I've used it in a few addons, but only for docs, as well as in a few in-repo addons. Has worked thus far.

[2016-07-23 03:20] runspired commented on #23
I will be splitting flexi into several micro-libs fairly soon.

Roughly:

- default-DSL
- DSL compiler
- sustain
- layouts

[2016-07-25 14:03] dustinfarris commented on #58
When I run `ember fastboot --serve-assets`  and then visit the site, I get:

[code]

Seems to be referring to this method: https://github.com/runspired/flexi/blob/develop/addon/services/device/layout.js#L51

[2016-07-25 17:35] jasonmit commented on #58
This should be fixed on master

[2016-07-27 03:50] kybishop opened #75 "Using both an offset and column size causes unexpected width."
Applying an offset class to a box with any given column size causes the box's width to shrink. I can't seem to find any documentation on this CSS behavior, but it appears consistent over both Chrome and Safari.

Switching to `width` over `max-width` fixes this issue, though I'm guessing there might be a particular reason `max-width` is being used?

[2016-07-27 11:58] dustinfarris commented on #58
@runspired possible to have a patch release with this fix?

[2016-07-27 16:38] runspired commented on #75
@kybishop it depends on the `flex-direction` and is related to `flex-basis` bugs which I'm also looking into fixing (I have a solution in mind).

[2016-07-28 16:09] rwwagner90 opened #76 "Support passing computeds in for properties"
Trying to do something like this fails:

`<centered md="{{foo}}"></centered>`

Shouldn't we be able to pass values in from the controller/component rather than always having to manually use a string like `"12"`?

[2016-07-28 16:10] rwwagner90 commented on #76
Just kidding, this works

[2016-07-28 17:01] rwwagner90 commented on #76
Just kidding again, it is an issue.

[code]

and

[code]

Give an error on initial starting of the app:

[code]

The weird thing is, if I change it to just `foo: '10'` and restart the app, then change it back to a computed, without restarting the server, it live reloads and allows me to use the computed without errors.

[2016-07-28 17:02] rwwagner90 commented on #76
Possible race condition? Seems unreliable to reproduce.

[2016-08-04 19:30] kybishop opened #78 "-webkit-box-flex should only take one parameter"
As per https://developer.mozilla.org/en-US/docs/Web/CSS/box-flex, `-webkit-box-flex` only takes one parameter, though it is currently passed what would normally be used for the `flex` property.

[2016-08-17 13:22] villander opened #80 "Installation failed"
I did this https://runspired.github.io/flexi/#/docs/installation

but not working for me. I have just the error:

[code]

[2016-08-17 13:51] villander commented on #80
I'm using `ember-cli-sass` in my app as:

[code]

[2016-08-17 14:12] villander commented on #80
@runspired

[2016-08-18 21:33] runspired commented on #78
PR welcome, I won't have much time for this for a few more weeks, but I'm going to do a patch release tomorrow so if you can squeeze it in before then :D

[2016-08-18 21:34] runspired commented on #76
@rwwagner90 it's a template cache invalidation issue which I think will get properly cleaned up soon.  In regards to dynamic values, these are indeed unsupported as Flexi is a build time optimizer.

[2016-08-18 21:34] #76 closed

[2016-08-18 22:59] #80 closed

[2016-08-18 22:59] villander commented on #80
Solved 🎉

[2016-08-19 08:48] kmichek opened #82 "emails sample not working"
Hello, I've tried to build the "email client" sample, unfortunately it blows up in sustain.js:
// if the component hasn't explicitly set it's layout, look it up
// pre Ember 2.0, layout is a computed property that MUST be set
// via get/set
if (!this._component.get('layout'))
I am Ember novice, probably missed some basic assumption of the sample. Would you please help me?. I'm eagerly waiting for

[2016-08-25 21:08] sammynave commented on #57
Just ran into this issue today. In case this helps anyone else, our workaround was to include the `col` classes in the mark up.
[code]

[2016-08-27 05:13] nomeacuerdo opened #83 "plugin that does not provide a caching strategy"
After installing, running `ember build` i get the following errors:

DEPRECATION: ember-cli-htmlbars-inline-precompile is opting out of caching due to an AST plugin that does not provide a caching strategy: `flexi-component-conversion`.
DEPRECATION: ember-cli-htmlbars-inline-precompile is opting out of caching due to an AST plugin that does not provide a caching strategy: `flexi-sustain-conversion

[2016-08-29 03:42] rwwagner90 commented on #58
+1 still seeing this error with Fastboot

[2016-08-30 04:27] alexlafroscia commented on #57
I'm not sure, but I think I found another issue.

If I have a file like this in `app/application/-layout/mobile.hbs`:

[code]

or like this:

[code]

I don't get the class name binding.  A static class is OK, but going through the template transformation step seems to strip out the dynamic classes, even on non-Flexi elements.

[2016-08-30 07:33] runspired commented on #82
The entire docs site is built in flexi and available in the dummy app source.

[2016-08-30 07:33] #82 closed

[2016-08-30 07:36] runspired commented on #57
That would be a bug and a failing test is welcome. So long as a flexi class isn't being applied, dynamic classes work.  (In some cases even where they are being applied they still work, that they sometimes don't is a bug).

[2016-08-30 17:38] alexlafroscia commented on #57
Alright, I'll put together a failing test case then to see if I can get my issue isolated.

[2016-09-13 01:27] #78 closed

[2016-09-13 05:32] runspired commented on #83
Fixed on master.

[2016-09-13 05:32] #83 closed

[2016-09-13 05:32] runspired commented on #61
Fixed on master.

[2016-09-13 05:32] #61 closed

[2016-09-13 05:35] runspired commented on #59
@bgentry I tried to spike this tonight, forgetting that you'd already done so, and hit similar walls. I'd like to take a peek at your branch again and see if we can't come to some resolution.

I suspect we need @chancancode to weigh in here.

[2016-09-13 05:40] runspired commented on #59
Also to reiterate for people's benefits, ideally we could make `sustain` have the following API:

[code]

However, the wall seems to be that the component helper is a walled garden that is difficult (and likely unstable) to reach into.  Flexi needs a way to instantiate a component passed to it by the component helper with control over it's lifecycle in order to be able to function correctly.

[2016-09-13 05:43] runspired commented on #58
Should be fixed on master, releasing master in a moment.  If release did not fix please ping and I'll reopen.  I need a fastboot testing env.

[2016-09-13 05:43] #58 closed

[2016-09-13 05:44] #39 closed

[2016-09-13 07:36] runspired commented on #60
Fixed on master :)

[2016-09-13 07:36] #60 closed

[2016-10-04 12:53] HenryVonfire opened #95 "img tag with src attribute in container raises error in acceptance test"
I've notified @runspired  in slack but I thought that I should write the issue here. On an new empty project, having an acceptance test for a route that contains this `<container><img src="/assets/img/image.png"/></container>` in its template raises the error:

[2016-10-07 11:00] HenryVonfire commented on #95
Here's a [repository example](https://github.com/HenryVonfire/img-test) of the error if it helps to solve it.

[2016-12-01 21:42] alexlafroscia opened #98 "Listening for browser resize"
Is there a way to listen for browser resize events through Flexi? Since it's already scheduling tasks on every keyframe to check size changes, I want to avoid adding my own events.  However, I couldn't find a public API for listening for this through the `device/layout` service.  What I ended up doing was super-classing `device/layout` to add an event trigger:

[code]

Is there a better way to do

[2016-12-02 01:51] rwwagner90 commented on #98
@alexlafroscia I don't see why we couldn't add it in. Since we are already triggering things when the size changes, should be able to add in some sort of option to pass a function you want to call when that happens. Just not sure what would be the most user friendly way of doing it. Did you have some ideas? @runspired what do you think of something like this?

[2016-12-02 05:32] alexlafroscia commented on #98
I definitely like the idea of using `Evented` and allowing people to subscribe to events if they want it, like the example code I posted.

[2016-12-02 17:55] runspired commented on #98
I've down, I'd rather an event than having you rely on binding to the props on the service.

[2016-12-02 18:23] alexlafroscia commented on #98
What events would you want to provide? Probably something like

- `width-changed`
- `height-changed`
- `resized` (either changed)

although maybe not those names? I also thought that you could generate an even for each breakpoint, but that might be over-kill when it's easy enough to listen for the event and then check some property on the service like `isDesktop` (which is what I'm doing now)

[2016-12-14 22:34] bgentry commented on #59
Glimmer 2 is merged. Does that make this feature more feasible?

[2016-12-16 21:05] kybishop commented on #75
More info: Chrome and Safari calculate the width available to flexbox children as `parentWidth - childMargins`. Interestingly this is not the case for Firefox, which does not take child margins into account when determining the width to be split into the children.

[2016-12-20 16:25] elidupuis opened #100 "Document `isAtLeast` properties in the device/layout service"
I just came across the `isAtLeast[breakpoint]` properties; they are *super* useful but undocumented.

[2016-12-21 09:15] RobIsHere opened #101 "Uncaught TypeError: Cannot read property 'clientWidth' of null at monitor.js"
A component in state "destroying" is added to monitoring at https://github.com/html-next/flexi/blob/master/addon/mixins/container.js#L45

It has element = null, which leads to the issue later on. Because null.clientwidth is expected to exist here: https://github.com/html-next/flexi/blob/master/addon/lib/monitor.js#L75

![screenshot](https://cloud.githubusercontent.com/assets/13229377/21383499/5b6e

[2016-12-23 03:08] dustinfarris opened #102 "Engines breakpoint templates must be in app/"
### Summary

layouts in `/my-engine/addon/templates/**/-layouts/*` are not compiled.

### Details

ember-engines encourages you to put everything in `addon/` and doesn't even create an `app/` folder in the blueprint.  This includes templates.  ember-engines automagically re-exports everything it needs so that it is available at runtime.

Flexi compiles breakpoint templates (e.g. `-layouts/mobile.h

[2016-12-26 04:00] villander opened #103 "Loading/Error Substates"
How do I define `loading and error"substates` with flexi layouts?

[2016-12-27 17:11] rwjblue commented on #102
As far as I can tell (from the description and conversations in slack) this is actually not directly related to ember-engines at all (though it is indirectly related).  The more fundamental issue is that ember-cli currently does not call `preprocessTree` / `postprocessTree` **AT ALL** for addon's `addon/` trees. When using ember-engines, you are advised to basically "put everything" into `addon/`

[2016-12-30 14:58] kybishop commented on #103
Currently one uses the standard templates: https://guides.emberjs.com/v2.10.0/routing/loading-and-error-substates/

Flexi does not yet support individual layouts for the `loading` and `error` substates. This feature shouldn't be too hard to add if someone would like to give it a shot.

[2016-12-30 15:06] kybishop commented on #101
@RobIsHere are you saying it was it is not removed [here](https://github.com/html-next/flexi/blob/master/addon/mixins/container.js#L54) before being called in `monitor.js`?

[2016-12-30 15:36] RobIsHere commented on #101
No. This issue is not about removing.

1. A component is added while it is already in isDestroying state.

2. flexi measures and causes the error before the remove handler can do its job

3. I think the remove handler was not even called. (the component was already beyond the state that triggers this handler when it is added)

[2016-12-30 15:58] kybishop commented on #101
@RobIsHere understood. Going to think about the best way to avoid dereferencing `null` and put in a fix.

[2016-12-30 16:05] RobIsHere commented on #101
I have a small temporary fix and post it later when I'm back home. It served me quite well and maybe it's useful for you.

[2016-12-30 16:10] kybishop commented on #101
To make sure I grok the issue, it's that we call `addElementHandler` in `afterRender`, but there no element was added because the component is already in the `isDestroying` state.

If the above is true, I believe we can simply add `if (self.isDestroyed} { return; }` in the `afterRender` hook. (or maybe `isDestroying` instead of `isDestroyed`... not entirely sure what state the element is in at tha

[2016-12-30 17:57] kybishop commented on #68
Closing this out in favor of the using `hidden`. If anyone thinks there is a use-case for `0` I'll happily re-open!

[2016-12-30 17:57] #68 closed

[2016-12-30 18:19] kybishop commented on #95
Navigating to the `/register` route in the repo you provided renders the page with no errors, though testing does indeed through an error.

This leads me to believe this is a PhantomJS issue, and not directly related to Flexi.

[2016-12-30 18:37] kybishop commented on #95
Something about that project is incorrect, but it is unrelated to Flexi. Removing flexi entirely still results in the same test error.

[2016-12-30 18:51] RobIsHere commented on #101
I did a specific check for this.get("isDestroying") in didInsertElement():afterRender. Maybe there were situations where the element got destroyed afterwards. I can't reproduce it anymore and don't know why I went this way exactly. Just writing this down in case something comes up.

The element === null check resolved it.

[2016-12-31 00:09] jasonmit commented on #101
I think this might be able to be fixed by canceling the timer that `run.schedule` produces in willDestroyElement.

Can someone running into the above issue verify this?

[code]

[2016-12-31 00:17] RobIsHere commented on #101
No, the fix above does not work.

[2016-12-31 00:22] RobIsHere commented on #101
It does not work because afterRender skips willDestroyElement. You could try to also cancel afterRender - don't know if you can stop a run loop entry?

The execution put in time order happens actually like this:

`
  didInsertElement() {
    this._super();
    this._elementResize = this.elementResize.bind(this);
    this._afterRenderTimer = run.schedule('afterRender', );
  },

  willDestroyElement

[2016-12-31 03:53] jasonmit commented on #101
Can you throw together an example or show the steps to reproduce?

[2016-12-31 03:55] kybishop commented on #101
@jasonmit did you see a fix is already in review? https://github.com/html-next/flexi/issues/105

[2016-12-31 04:12] kybishop commented on #101
On a closer look, @jasonmit's fix _should_ work http://emberjs.com/api/classes/Ember.run.html#method_cancel

I also think this is the more correct approach since we avoid doing unnecessary work. @RobIsHere are you sure the fix doesn't work?

[2016-12-31 04:52] jasonmit commented on #101
@kybishop I saw the PR but I feel we should be canceling the timer and the fact that this isn't the case (based on what @RobIsHere said) I'd like to spend some time figuring out why that is once I figure out how to reproduce this.

[2016-12-31 08:15] RobIsHere commented on #101
It does not work. Because removing the timer isn't the point here!

The execution order is the key to understanding the issue. See the post above! I put your fix @jsonmit in the order in which the browser executes it.

The insertion of the component is happening AFTER willDestroyElement.

It is happening because of:
Ember.run.schedule('afterRender', inserterFn)

Which delays inserterFn to 'afterRe

[2016-12-31 08:24] RobIsHere commented on #101
I think cleaning up is a good idea and the right approach. Just the cleanup fix needs one more statement added. To cleanup the method that is scheduled on the ember run loop. (!that is not the timer fn!). If that's possible.

[2016-12-31 08:35] RobIsHere commented on #101
Sorry, forget the last two posts. I noticed you are actually doing the removal.

I'm surprised that it doesn't work then.

I debug it on my system. Because I have no idea how to get that into a minimal reproduction.

[2016-12-31 10:04] kybishop commented on #101
Ok here's my understanding of what's happening:

The component is rendered, triggering its `didInsertElement` hook. Here we schedule our resize handler in the 'afterRender' step of the run loop. Now the fun part: the 'afterRender' step of the run loop comes BEFORE the 'destroy' step, so we never remove our resize handler. https://guides.emberjs.com/v2.10.0/applications/run-loop/

@RobIsHere could

[2017-01-02 04:36] kybishop commented on #101
Working example with a generic component: https://ember-twiddle.com/3ca76407c810fb0c6b066c638cc2e1e8?openFiles=components.destroyed-component.js%2Ctemplates.components.service-mutating-component.hbs

In Ember <= 2.9, the afterRender occurs in the next run loop, while in Ember 2.10, it occurs in the current run loop. I'll edit this comment with a link after filing a bug in with Ember.

Either way,

[2017-01-02 17:36] RobIsHere commented on #101
It's really weired. Cancelling does not work. I copied @jasonmit 's code. And added some logging, so you can see the didInsert/willDestroy/afterRendering order. And the error below.

As you see in the posts above, initially I thought it was simply not cancelled at all. But @jasonmit did that and it was just not working as expected.

![screenshot](https://cloud.githubusercontent.com/assets/13229377

[2017-01-02 17:47] kybishop commented on #101
@RobIsHere if you don't mind, could you try [with setters and getters](https://github.com/html-next/flexi/pull/105/files#diff-c61247c04c5dbc3980dadc4e59249f89R51
) instead of direct JS properties? I suspect something weird is happening to the handler. If it still doesn't work, you can log the handler in both didInsertElement and willDestroyElement to compare them.

Also, what version of Ember are

[2017-01-02 17:49] RobIsHere commented on #101
Ember 2.5.1
Ember Data 2.10.0
jQuery 2.2.4

We stuck because of this Bug: https://github.com/emberjs/ember.js/issues/14539. It would affect about 5% of our users. So we skip the broken LTS Version and wait for the next one.

My workaround works for us and if you say that your solution is the way to go for the future, that's ok for me.

[2017-01-02 17:59] RobIsHere commented on #101
Found the bug. The "return" statement is missing in this method:

![screenshot](https://cloud.githubusercontent.com/assets/13229377/21593966/86ac371e-d11d-11e6-9b11-a3e46bd25af6.PNG)

[2017-01-02 18:01] kybishop commented on #101
Hah! I just found that myself. I'll dig deeper tomorrow, very late here in Thailand. Luckily I can finally reproduce the bug in my twiddle by reverting to your ember version!

[2017-01-02 18:06] RobIsHere commented on #101
The docs above state: @return {void}
So maybe they don't call it a bug but rather a memory saving feature :)

If you want to be backwards compatible, maybe cancel the timer as it's working in newer versions and additionally add this:

`
  // mixins/container.js

  didInsertElement() {
    this._super();
    this._elementResize = this.elementResize.bind(this);
    this._afterRenderTimer = run.sched

[2017-01-02 23:01] rwjblue commented on #101
Ya, I fixed in in 2.8+ in https://github.com/emberjs/ember.js/pull/14550. It's unlikely to be backported further than 2.8 though.

[2017-01-03 03:09] jasonmit commented on #101
Given that, I think `scheduleOnce` can be safely used here instead of `schedule` which does `return` in `2.8.x`.

[2017-01-03 12:58] kybishop commented on #101
@jasonmit I did a lot of thinking on this, and think we should go with a `this.get('isDestroying')` check in the `afterRender`. This is an edge case, _and_ it only occurs in older versions of Ember. As such, we should be optimizing for the common case.

Saving and needlessly canceling a task in the common case is not ideal, whereas doing a simple boolean check (for `this.get('isDestroying')` has a

[2017-01-03 13:46] rwjblue commented on #101
FWIW, you can use `this.isDestroying` (no need for `this.get` as it will never be a computed property and it isn't chaining...)

[2017-01-04 16:23] kybishop commented on #75
This bug unfortunately remains. PR #99 unfortunately breaks wrapping; wrapped flex children take up the entire row. Will be opening a PR to revert #99.

[2017-01-04 18:25] rwwagner90 commented on #75
@runspired could you elaborate on the solution you had in mind or should we just wait for browsers to fix themselves to support this?

[2017-01-05 20:08] #101 closed

[2017-01-07 05:55] kybishop opened #109 "Split flexi components into separate repositories"
Master issue for splitting flexi components into multiple repositories. The main flexi repository will present a dependency installer for all the components we break out. All the of the below will be defaults, with the exception of flexi-sustain.

### Part 1: Splitting the repos

- [x] flexi-config - the config blueprint, and the hooks relevant to it in index.js @kybishop
- [x] flexi-default-style

[2017-01-07 05:58] kybishop commented on #109
@runspired we're happy to split what we think is appropriate, then ping you for PR, but you might save some review time by clarifying what's encapsulated in each repo. Feel free to edit the above issue with pointers, else we'll see you on the PR side ;)

[2017-01-12 17:19] rwwagner90 opened #111 "Move acceptance tests from flexi to addons"
After we do the split, we should move the acceptance tests into their respective addons and just declare devDeps for the other parts of flexi they need to run.

[2017-01-13 05:29] kybishop opened #113 "Flexi master branch borked while we split repos. Temporary fix inside for those depending on master"
Flexi [is being split into separate repositories](https://github.com/html-next/flexi/issues/109), likely causing issues for those depending on master.

To pin to the latest commit before splitting began, replace your flexi dependency in package.json with this line:

[code]

Alternatively, help us beta test the split by removing flexi from your packages.json and reinstalling:
[code]

[WIP] docs for

[2017-01-17 16:57] rwwagner90 commented on #54
I've had no issues with `fit` or `fill` working myself. If a reproduction can be created, we would be glad to investigate further, but I am going to close this for now.

[2017-01-17 16:58] #54 closed

[2017-01-17 19:31] rwwagner90 commented on #100
This is now documented in the readme.io docs, which will be released with the 2.0 release.

[2017-01-17 19:31] #100 closed

[2017-01-17 19:32] rwwagner90 commented on #44
@onceatime and @mk-conn can you guys elaborate on what you are trying to achieve? I can try to throw something together.

[2017-01-17 19:35] rwwagner90 commented on #57
@alexlafroscia specifically for fixing ember-css-modules, could we enforce an `after` to enforce one addon or the other running first? https://ember-cli.com/extending/#configuring-your-ember-addon-properties

[2017-01-17 19:41] rwwagner90 commented on #42
I'm unclear on why this is needed. If you just design your content based on width, most things will look okay across all breakpoints. Can someone elaborate on why this is needed?

[2017-01-17 20:06] rwwagner90 commented on #40
I have copied this documentation into the readme.io docs, which will be released as part of the 2.0 release, so I am closing this.

[2017-01-17 20:06] #40 closed

[2017-01-17 20:07] rwwagner90 commented on #102
It seems the PR @rwjblue mentioned has been merged. Does this fix the issue @dustinfarris?

[2017-01-17 20:30] alexlafroscia commented on #57
Hmm, that might solve the problem. Probably want to let `ember-css-modules` process the files first to turn the `local-class` into a real class name.

[2017-01-18 00:59] ksnyde commented on #42
Do you mean setting `flex-basis` and `width` via stylesheets?  This was meant to take a component of the page and fix the width to a discrete width and then allow "fill" to use the remaining space rather than the grid system which is some arbitrary percentage of available real-estate. It's mainly exposing the `flex-basis` functionality of flexbox to the flexi API.

[2017-01-18 01:33] rwwagner90 commented on #42
@ksnyde was this comment meant for another issue? This issue is about orientation.

[2017-01-18 03:20] rwwagner90 commented on #57
@alexlafroscia do you think that change belongs in flexi or ember-css-modules?

[2017-01-18 04:56] ksnyde commented on #42
Yes sorry I was in hurry in my last response. Not to mention a bit jet-lagged from moving half-way around the world. Anyway, now that my excuses are out of the way ... this issue is a little dated so I'm fine with it being closed. When I get back to Flexi (hopefully soon) I may come back to this and see if I think it's worth restating but not sure it is.

[2017-01-18 04:56] #42 closed

[2017-01-18 12:42] rwwagner90 commented on #42
@ksnyde no problem. Hope your move went well! I'm just trying to prune the issues here, as we move toward 2.0. Please feel free to reach back out if you feel there is a need to implement something.

[2017-01-18 18:46] alexlafroscia commented on #57
I'm not sure. Not even sure that this is an issue anymore to be honest, `ember-css-modules` has changed a lot since this was reported and generally, my current app doesn't use the Flexi classes anymore.

[2017-01-31 17:57] rwwagner90 commented on #65
Documented in the new docs https://flexi.readme.io/v1.2.0/docs/foundation

[2017-01-31 17:57] #65 closed

[2017-02-01 06:56] kybishop commented on #57
This is still an issue. I'm working on a fix and already have a rough idea of how to fix.

[2017-02-01 09:41] kybishop commented on #23
Closing this in favor of the master issue at https://github.com/html-next/flexi/issues/109

[2017-02-01 09:41] #23 closed

[2017-02-01 17:28] #57 closed

[2017-02-01 18:37] kybishop commented on #37
I've used the previously borked order in the wild without issue. Closing this out in favor of https://github.com/html-next/flexi-dsl/issues/5 (create tests for attribute value order)

[2017-02-01 18:37] #37 closed

[2017-02-01 20:38] kybishop commented on #109
All libs split! Beta will begin shortly for 2.0.0

[2017-02-01 20:38] #109 closed

[2017-02-07 06:42] kybishop commented on #75
Here is an example of the row-wrapping bug: http://codepen.io/kybishop/pen/NdBMpE

Change max-width to width on the `.half` class and note how the third box takes up the entire row. This unfortunately means we _must_ use `max-width`, which makes the offset bug persist thanks to the bug in various browsers.

Thankfully the browser fixes are slowly being rolled out. Chrome v56 contains a bugfix, and

[2017-02-08 13:06] HenryVonfire commented on #95
@kybishop sorry, for some reason I didn't see the resolution of this issue but I have to disagree with you. Removing the `<container>` tag makes also disappear the error, and the `<container>` tag is from flexi, so I assume it's related.

[2017-02-08 13:36] HenryVonfire commented on #95
Since it has been a while, I've tried to recreate the project with the latest version of ember and flexi. It still happens. Here are the steps if you still think that there are something wrong in my project:

- Add an image to the path `public/assets/img/user-avatar.png` (the image really doesn't matter but having one you'll avoid the message `GET 404 not found`)
- Add a component (only the `.hbs`

[2017-02-08 14:09] rwwagner90 commented on #95
@HenryVonfire the `img` has nothing to do with anything, I don't think. I think `container` and `grid responsive` just break the run loop in acceptance tests. I believe we are not wrapping in `run.join` for performance reasons, but it breaks testing. @runspired can you please confirm?

[2017-02-10 05:03] kybishop commented on #95
@rwwagner90 @HenryVonfire

From your test app:
1. remove flexi from the dependencies
2. rm -rf node_modules
3. npm install
4. ember test
5. Bug. Still. Persists.

Like I said, this doesn't have to do with flexi. If anything, this is a bug in ember-cli or ember

[2017-02-10 05:25] kybishop commented on #95
@HenryVonfire I cannot duplicate the bug any longer with your test repo, leading me to believe this was a bug fixed in a dependency.

[2017-02-10 08:37] HenryVonfire commented on #95
@kybishop did you test it with Firefox? it was strange for me since two days ago I tried it (even created a new project with ember 2.11 and Flexi) and the error was shown. I tried it today again and discovered that the error appears in Chrome but not in Firefox (Specifically Chrome 56.0.2924.87 (64-bit) and Firefox 51.0.1 (64-bit)).

[2017-02-10 08:44] kybishop commented on #95
@HenryVonfire remove flexi from your packages.json, `rm -rf node_modules`, and `npm install`. If the error still happens for you, this doesn't have to do with flexi. If the error _does_ disappear, I'm open to investigating further.

[2017-02-10 08:47] HenryVonfire commented on #95
@kybishop done. The error has disappeared.

[2017-02-10 09:07] michalsnik opened #117 "Plugin name"
Hey, have you considered renaming this package to `ember-flexi` in order to keep consistency  between all other ember related addons?

[2017-02-10 09:15] kybishop commented on #95
@HenryVonfire assuming we're still talking about your example repo, re-install flexi with `npm install flexi@1.2.0`, then do a full ember-cli upgrade to 2.11 https://github.com/ember-cli/ember-cli/releases/tag/v2.11.0

I'm still under the impression that this is somehow isolated to your dev environment since I can't repro on my machine. I have a hunch that an old package is cached somewhere

[2017-02-10 11:12] HenryVonfire commented on #95
@kybishop that isn't the case because I'm in a new laptop with a different SO (from the one I had when I created the issue), a newer version of Node, Ember, Ember-cli, etc. What I did before when I said that the error disappeared was: cloning the repo, remove Flexi from `package.json`, `npm i` and `bower i` and as I said, the error was gone. But the day before yesterday I created a new project wit

[2017-02-10 11:14] HenryVonfire commented on #95
Btw, my intention here is far from being bothering you (or anyone) with a fake issue. It's not a critical issue but I thought that you'll be interested on knowing its existence and I would love to PR a patch if I knew how to solve it, but sadly I'm not that involved in the implementation of Flexi to know how to do it.

[2017-02-10 11:45] HenryVonfire commented on #95
@kybishop [here](https://github.com/HenryVonfire/tricky-test) is a new repo (`ember 2.11` and `flexi: 2.0.0-beta.11`). It wasn't even necessary to create the component, just placing the `<container>` tag on `application.hbs` is enough. Hope this will help in order to find the problem.

[2017-02-10 12:09] rwwagner90 commented on #117
@michalsnik I don't think that is necessary. What would we gain?

[2017-02-10 13:10] michalsnik commented on #117
Nothing actually, besides consistency with general naming conventions around ember ecosystem. I was just curious :) Feel free to close this issue, I don't mind

[2017-02-10 19:00] kybishop commented on #95
@HenryVonfire

@rwwagner90 says he has seen similar breakage from `<container>` and `<grid responsive>`, though I am still unable to reproduce:

[code]

Going to re-open this and assign to RWW since he mentioned looking into it. A bit hard for me without being able to repro ;)

[2017-02-13 17:42] rwwagner90 commented on #117
We'll stick with plain `flexi` for now, but will consider it.

[2017-02-13 17:42] #117 closed

[2017-02-13 17:43] rwwagner90 commented on #113
Should be no longer broken, and people should use the latest 2.0.0 beta

[2017-02-13 17:43] #113 closed

[2017-02-14 02:46] kybishop commented on #102
@dustinfarris ^

[2017-02-14 08:37] HenryVonfire commented on #95
Problem solved with with this [PR](https://github.com/html-next/flexi-layouts/pull/3).

Thanks for your time guys!

[2017-02-14 08:37] #95 closed

[2017-02-14 08:57] kybishop commented on #95
Thanks for your persistence @HenryVonfire!

[2017-02-15 00:40] rwwagner90 commented on #98
This is now completed in flexi-layouts https://github.com/html-next/flexi-layouts/pull/4

[2017-02-15 00:40] #98 closed

[2017-02-16 23:19] runspired commented on #102
I believe the other thing is that you have to move the layout compiler into dependencies instead of dev-dependencies for the engines.

[2017-02-21 13:43] rwwagner90 commented on #102
@dustinfarris can you try this out and do as @runspired suggested please?

[2017-03-01 12:55] optikalefx opened #119 "Provide handful of example layouts"
One of the best ways to learn, and to get started is to download seed projects, and get into the code. I may work on this myself, but I wanted to put the issue in. We should provide a few generic application layouts to get people started. Single nav left with header, Triple pane, Dashboard with portlets etc.

[2017-03-01 14:24] rwwagner90 commented on #119
@optikalefx I totally agree with you. That is in the plan. I was thinking we could tweak the current dummy app to be some interactive examples. We'd love to be able to use something like twiddle, so people could tweak them in line, but they don't support things we need to be able to do it 😞

[2017-03-01 14:24] rwwagner90 commented on #111
Already started doing this 👍

[2017-03-01 14:25] rwwagner90 commented on #69
@GCheung55 would you be interested in implementing this? Happy to help out where I can

[2017-03-01 14:27] optikalefx commented on #119
Well when I get started on this project, I might make a few dummy layouts. We need them for work to test and play with. If I go that road, I'll share those layouts and maybe we can make an examples or starter kit folder or something.

[2017-03-01 14:30] rwwagner90 commented on #119
@optikalefx if you come up with a list of layouts you'd like to showcase, @kybishop and I could probably help you tackle implementing them. We're both interested in getting some nice examples rolling.

[2017-03-01 16:44] optikalefx commented on #119
- My first template is going to mimic this guy http://miguelcobain.github.io/ember-paper/release-1/
- Then I'd like to do one where the navbar extends the entire top section
- The next would be the ember-paper layout but with a static footer as well as the nav
- 4th would be 2 side navs, a top nav and a body section
- last would be a 3 section layout with static header and footer.

[2017-03-01 18:29] rwwagner90 commented on #59
@bgentry glimmer 2 actually breaks sustain entirely. @runspired will the refactor of sustain to make it work with glimmer 2 be able to accomplish this as well?

[2017-03-02 19:53] runspired commented on #59
No. This is something that sadly we will likely never be able to support because the `component` helper is the walled garden that it is.

[2017-03-04 00:27] GCheung55 commented on #69
yeah. I'll try to take a stab this coming week.

[2017-03-04 00:39] rwwagner90 commented on #69
That would be awesome @GCheung55 😄

[2017-03-04 00:39] rwwagner90 commented on #59
Since the man himself says this is unlikely to happy, I am going to close the issue. Feel free to open a PR if you happen to magically make something work @bgentry 😄

[2017-03-04 00:39] #59 closed

[2017-03-04 00:45] bgentry commented on #59
@rwwagner90 hah, don't count on that :) Sounds like this would need some pretty serious help from the framework builders to properly expose the component helper.

[2017-03-15 18:34] #111 closed

[2017-03-30 19:56] kybishop commented on #45
@ksnyde The Slack discussion linked in the issue has been purged, and I'm having trouble parsing what the desired feature is. Would you mind a summary of the feature, as well as the usage pattern(s) it enables?

[2017-04-08 03:49] kybishop opened #127 "CSS tree shaking"
As per https://vimeo.com/172508586

Make a list of the attributes and elements used during build time; only include the relevant styles.

Will spike an RFC of this soon with thoughts on how to implement. The only tricky bit is where to store the intermediate list such that the scss compiler can get to it.

[2017-04-17 04:48] xtagon commented on #44
I'd like to figure this out too. My use case is a full-screen app layout, where you scroll individual containers and never the entire page. Here's an example using flexbox directly but not Flexi: http://bl.ocks.org/jfsiii/5380802 (just add `overflow: scroll` to the column containers).

@rwwagner90 or @runspired can either of you suggest how to do this with Flexi? Sounds like it should be simple bu

[2017-04-17 06:07] xtagon commented on #44
Solved it! Here's how:

[code]
The `!important` part may not be necessary for you - I had to override something another CSS framework set.

Next wrap your fullscreen stuff with a wrapper div and give it the `.fullscreen` class.

Do not use `<screen>` or `<page>`, only use `<div class="fullscreen">` and then put your boxes in there.

[2017-04-17 13:07] rwwagner90 commented on #44
Hi @xtagon you have it working with normal flexbox? Should be fairly easy to convert something that works in flexbox to flexi. If it's working as you want in flexbox, let me know.

[2017-04-17 16:32] xtagon commented on #44
@rwwagner90 Thanks. I finally got it working by adding `height: 100%` to the box that has `overflow: scroll`. For some reason it doesn't work with just `<box fill>`

[2017-04-24 13:56] rwwagner90 commented on #102
Going to close this, due to lack of response from @dustinfarris. If it's still an issue, feel free to reach back out!

[2017-04-24 13:56] #102 closed

[2017-04-24 18:11] #119 closed

[2017-04-24 18:17] rwwagner90 commented on #44
@xtagon would you be interested in contributing the example you are talking about here to the flexi dummy app, for us to show as an example?

[2017-04-24 18:18] rwwagner90 commented on #46
Definitely interested in having some nicely defined way of ensuring things scroll or don't scroll. I always have trouble with scrolling and flexi.

[2017-04-24 18:22] xtagon commented on #44
@rwwagner90 Absolutely. My case depends on some quirks with how I'm using Semantic-UI's sidebar pusher in my app, but I should be able to put together a more minimal example.

[2017-04-24 18:24] rwwagner90 commented on #44
@xtagon great! Please let me know if you need any help figuring out where to put all the stuff for the examples.

[2017-04-26 02:58] xtagon opened #129 "Contibuting docs reference "develop" branch that doesn't exist"
The docs say:

[code]

This repo doesn't have a `develop` branch. Shall I branch off of `master`?

[2017-04-26 03:09] runspired commented on #129
Yes

[2017-04-26 03:09] #129 closed

[2017-04-26 03:11] runspired commented on #129
Fixed here: https://github.com/html-next/flexi/commit/4f384f6db648a2f88aa942d3ad4ad4ae37258acb

[2017-04-26 03:12] xtagon commented on #129
That was fast! There were two that needed changed though

[2017-04-26 03:47] xtagon commented on #44
@rwwagner90 I can use some help. I looked at recent PRs for the examples and tried to follow that as a guide. I created a route, linked to it in the index, created a template for my layout and a route component with a template. I just copied the SVG and template snipped from another example, but it won't render in my browser so I must have missed something.

You can see what I tried here: https://

[2017-04-26 05:49] runspired commented on #129
@xtagon fixed: https://github.com/html-next/flexi/commit/ec8d7acff976bb85bbedb4875e6f017c89c1fb89 :)

[2017-04-26 13:04] rwwagner90 commented on #44
@xtagon I think the issue is your component has no dash in the name. Components must be dasherized.

[2017-04-27 06:13] xtagon commented on #44
Opened PR #130

[2017-04-27 19:35] rwwagner90 opened #131 "Pull in and fix fullscreen layout"
From #130

[2017-05-01 15:47] bravo-kernel commented on #102
Confirmed, moving flexi-layouts into `dependencies` solves everything.

No need for service injection inside the engine either, it just works as expected, picks up all the various `-layouts` directories.

[2017-05-24 19:25] kybishop commented on #127
Shifting focus to the long-term approach: https://github.com/html-next/optimizing-css-compiler

[2017-05-24 21:20] rwwagner90 commented on #127
Should we close this then @kybishop?

[2017-05-24 22:42] kybishop commented on #127
Let's keep it open incase anyone else is curious about what we're doing regarding tree shaking, since it is mentioned in some of the talks on Flexi.

I'll eventually create a master issue regarding the CSS optimizer once I understand all the moving pieces we need to deal with to incorporate it into Flexi.

[2017-05-30 22:02] kybishop commented on #46
An example workaround currently exists [here](https://github.com/html-next/flexi/blob/master/tests/dummy/app/templates/header-footer-with-scroll.hbs#L37).

The trouble with implementing a scroll primitive is that we need a lot of prior knowledge about the AST; is there a parent with a statically defined height, or a chain of parents with percentage heights that eventually lead to an element with a

[2017-05-31 11:38] rwwagner90 commented on #131
Now obsolete

[2017-05-31 11:38] #131 closed

[2017-06-07 16:31] marc22alain opened #134 "Flexi docs don't reset sizes properly, on rotating the device, on iPhone with iOS 7"
Steps to reproduce:
- iPhone 4s with iOS 7's Safari
- open the [docs web site](https://html-next.github.io/flexi/#/docs/overview) with the device in portrait orientation
- RESULT: the page layout should properly fit the view
- rotate the device to landscape orientation
- RESULT: none of the elements adjust in size; rather, a large column of whitespace appears on the right side of the view
- rotate

[2017-06-07 17:50] rwwagner90 commented on #134
Hi @marc22alain, that is the old docs site. I am not sure where you got that link from, but the new docs are hosted on readme.io. https://flexi.readme.io/docs

[2017-06-07 18:38] marc22alain commented on #134
Hi @rwwagner90 , thanks for the quick response!
I found the link in the blog post: [A Tale of Two States](http://blog.isleofcode.com/modern-responsive-design/), in the first paragraph.
I am looking for examples of implementations that use Flexi, and the old docs site uses it. I see that the new site does not.
Now going off topic: I am doing some research, selecting a CSS framework for a project, a

[2017-06-07 22:49] #134 closed

[2017-06-08 02:55] kybishop commented on #134
@marc22alain  http://shipshape.io and [the example site for ember-attacher](https://kybishop.github.io/ember-attacher/) are good real world examples. There are also examples in the dummy app that show how to do basic layout concepts.

[2017-06-08 04:00] marc22alain commented on #134
@kybishop Thanks for pointing out those sites.

[2017-06-14 20:20] kybishop opened #135 "differing flexi column configs between addons can cause conflicts"
We can likely fix this through https://github.com/html-next/flexi-dsl/issues/3, which would allow addon authors to add a column suffix if they don't use the default 12-column configuration.

[2017-06-16 00:18] kybishop commented on #135
I'm dumb, we already have a column prefix option in the config, which can be used to avoid this issue. That said, we might want to issue a warning (in dev mode) if the following is true:

1. we're in an addon using flexi
2. the addon uses a non-standard number of columns
3. the addon does not specify a column prefix

@rwwagner90 thoughts?

[2017-10-18 02:48] neptunelsir opened #137 "Error: Cannot find module 'debug'"

[2017-10-18 10:44] rwwagner90 commented on #137
@neptunelsir can you give more details please? An empty description does not help us reproduce.

[2017-10-18 18:23] mrship opened #138 "Flexi layouts and Emblem"
We are using Emblem and would like to use Flexi Layouts. However, what we're seeing is the templates not rendering correctly, as it renders the emblem text directly into the layout.

In [this simple demo repo](https://github.com/mrship/emblem-flexi-layout) - which is just ember, emblem and flexi-layouts - we have a setup thus:

<img width="268" alt="layout" src="https://user-images.githubuserconte

[2017-10-18 19:39] rwwagner90 commented on #138
@mrship I'm not familiar with emblem, but is it safe to use anymore? I would expect it would be tough to keep using it as Ember has transitioned from Handlebars -> HTMLBars -> Glimmer -> Glimmer 2 -> Upcoming glimmerjs based templating.

It might be best to just use the built in supported syntax Ember provides here? If that is not an option, there may be a way to get things working, but I'm not aw

[2017-10-18 19:56] mrship commented on #138
Emblem compiles down to handlebars and has been working fine in our app. It's basically a simpler syntax - a bit like slim vs erb in Ruby. My hope was that the emblem/handlebars compiler would run first then the layout compiler would run once it had handlebars.

@runspired suggested via Slack that:

Hopefully that is the case, but I'm not really sure where to start.

[2017-10-19 01:47] rwwagner90 commented on #138
@mrship I don't know much about the AST magic that happens, but we split flexi-layouts into its own repo, if you'd like to poke around https://github.com/html-next/flexi-layouts

[2017-11-23 09:04] AmeerGit opened #141 "Flexi Layout not working on Windows machine"
I am using Flexi  for rendering templates under Layout folder based on device . The issue is it works fine on  MAC machine where we developed the application ,but when i moved the same code to Windows machine Flexi not working and it displays blank page without any errors in browser console. Any specific Flexi configration for Windows machine ?  Thanks in Advance

[2017-11-23 13:26] rwwagner90 commented on #141
Hi @AmeerGit, I think I saw this issue posted before either on GitHub or in Slack. Did you post something before? ember and ember-cli should work fine on any machine, although they have historically had some issues on Windows.

There is no specific Windows configuration or anything. It should work just fine. It probably depends heavily on what ember/ember-cli version you are on, how you are runnin

[2018-08-11 05:24] GCheung55 opened #158 "Blueprint should be install @html-next/flexi-config to add config file."
The blueprint currently doesn't install `@html-next/flexi-config`. This causes issues when a first time user is installing `flexi`. because the config file is missing but there's an error saying to generate it with a non-existant blueprint.

[code]

[2018-08-13 13:16] rwwagner90 commented on #158
@GCheung55 that blueprint definitely exists here https://github.com/html-next/flexi-config/blob/master/blueprints/%40html-next/flexi-config/files/config/flexi.js

Flexi is split into a bunch of packages now, and several of them have deps on flexi-config. This worked the last time I checked.

[2018-09-24 08:50] andreisebastianc-ccc commented on #141
With powershell flexi -layouts don't work.
Using [ubuntu bash](https://www.howtogeek.com/249966/how-to-install-and-use-the-linux-bash-shell-on-windows-10/) flexi -layouts work.

[2018-09-24 17:15] rwwagner90 commented on #141
@andreisebastianc-ccc do you have a more descriptive breakdown of the problem? It should work anywhere ember-cli works, as there is nothing unix specific that I know of.

[2019-01-03 14:55] rwwagner90 commented on #158
Since this blueprint exists, and there has been no response, I am closing the issue. If you are still experiencing issues, please let us know!

[2019-01-03 14:55] #158 closed

[2019-01-03 14:57] rwwagner90 commented on #138
I do not know anything about Emblem, and we do not plan to support it, at this time, so I am closing this for now.

[2019-01-03 14:57] #138 closed

[2019-01-03 14:57] #137 closed

[2019-09-03 05:26] greenkeeper[bot] opened #176 "An in-range update of ember-cli-deploy-build is breaking the build 🚨"
## The devDependency [ember-cli-deploy-build](https://github.com/ember-cli-deploy/ember-cli-deploy-build) was updated from `1.1.1` to `1.1.2`.

🚨 [View failing branch](https://github.com/html-next/flexi/compare/master...html-next:greenkeeper%2Fember-cli-deploy-build-1.1.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

e

[2019-11-11 15:42] greenkeeper[bot] opened #179 "An in-range update of ember-try is breaking the build 🚨"
## The devDependency [ember-try](https://github.com/ember-cli/ember-try) was updated from `1.2.1` to `1.3.0`.

🚨 [View failing branch](https://github.com/html-next/flexi/compare/master...html-next:greenkeeper%2Fember-try-1.3.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ember-try is a devDependency of this project. I

[2019-11-14 14:52] greenkeeper[bot] opened #180 "An in-range update of ember-export-application-global is breaking the build 🚨"
## The devDependency [ember-export-application-global](https://github.com/ember-cli/ember-export-application-global) was updated from `2.0.0` to `2.0.1`.

🚨 [View failing branch](https://github.com/html-next/flexi/compare/master...html-next:greenkeeper%2Fember-export-application-global-2.0.1).

This version is **covered** by your **current version range** and after updating it in your project **th

[2021-09-15 16:21] runspired opened #181 "Roadmap to v3 (Embroider, Engine, Fastboot and Ember 4.0 support)"
Opening this ticket to begin building out the requirements for a v3 to support the best in modern ember.

- [ ] replace greenkeeper with **dependabot**
- [ ] tests (regular + render-diff) for **embroider**
- [ ] tests (regular + render-diff) for **engines**
- [ ] tests (regular + render-diff) for **fastboot**
- [ ] update layout syntax components to make use of angle bracket components to minimize

[2022-01-24 11:09] eliel-jr commented on #181
news for this? this addon not compatible with ember 3.28 +

[2022-03-22 00:33] runspired commented on #181
@eliel-jr no work done yet but getting close to starting

[2022-03-22 16:43] runspired commented on #181
@eliel-jr would you be interested in helping? if so ping me in discord.

[2022-03-23 10:03] #176 closed

[2022-03-23 10:03] #179 closed